/**
 * Layout
 */

:where(body) {
  display: flex;
  flex-direction: column;
  min-height: 100svh;
}

:where(header, main, footer, aside, section) {
  display: flex;
  flex-direction: column;
  gap: var(--space-layout-1);
}

:where(
  body > header,
  body > * > header,
  body > footer,
  body > * > footer,
  body > aside,
  body > * > aside
) {
  padding-block: var(--space-layout-1);
  padding-inline: var(--space-layout-2);
  background-color: var(--color-layout-bg);
  color: var(--color-layout-fg);
}

:where(body > main, body > * > main) {
  flex: 1;
}

@scope (main) {
  :where(:scope > header, :scope > footer, :scope > section, :scope > aside) {
    padding: var(--space-layout-1);
  }
}

@scope (section) {
  :where(:scope > header, :scope > footer, :scope > aside) {
    padding: var(--space-layout-0);
  }
}

/**
 * Stack Group ([role="group"])
 */
:where([role="group"]) {
  display: flex;
  flex-direction: column;
  gap: var(--space-2);
  width: 100%;
}

/**
 * Cluster Group ([role="toolbar"])
 */
:where([role="toolbar"]) {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-1);
  align-items: center;
  align-content: flex-start;
  inline-size: 100%;
}

:where([role="toolbar"]) > * {
  min-inline-size: 0;
  max-inline-size: 100%;
}

/**
 * Panel Group ([role="region"])
 */
:where([role="region"]) {
  container-type: inline-size;
  padding: var(--space-2);
  border: var(--stroke-1) solid var(--color-panel-border);
  border-radius: var(--radius-2);
  background-color: var(--color-panel-bg);
  color: var(--color-panel-fg);
}
