body {
  display: flex;
  flex-direction: column;
  min-height: 100svh;
}

body > :is(header, footer),
body > * > :is(header, footer) {
  padding: var(--space-2);
  border-block: var(--stroke-1) solid var(--color-border);
  background: var(--color-neutral-bg);
}

body > main,
body > * > main {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: var(--space-2);
  padding: var(--space-2);
}

@scope (main) {
  :scope > header,
  :scope > footer {
    padding: var(--space-2);
    border: var(--stroke-1) solid var(--color-neutral-border);
    border-radius: var(--radius-2);
    background: var(--color-neutral-bg);
  }

  :scope > section,
  :scope > aside {
    padding: var(--space-2);
    border: var(--stroke-1) solid var(--color-border);
    border-radius: var(--radius-2);
    background: var(--color-neutral-bg);
  }
}

@scope (section) {
  :scope > header,
  :scope > footer {
    padding: var(--space-1);
    background: var(--color-muted-bg);
    border-radius: var(--radius-1);
  }

  :scope > aside {
    padding: var(--space-1);
    border-inline-start: var(--stroke-1) solid var(--color-muted-border);
    color: var(--color-muted-fg);
  }
}

/**
 * Group ([role="group"], [role="search"])
 */
:where([role="search"], [role="group"]) {
  --group-space: var(--space-2);
  --group-radius: var(--radius-1);
  --group-border-width: var(--stroke-1);
  --group-shadow: 0 0 0 transparent;
  --group-shadow-focus-with-button: 0 0 0 var(--stroke-2) var(--color-primary-ring);
  --group-shadow-focus-with-input: 0 0 0 var(--stroke-2) var(--color-primary-ring);
  display: inline-flex;
  position: relative;
  width: 100%;
  margin-bottom: var(--group-space);
  border-radius: var(--group-radius);
  box-shadow: var(--group-shadow);
  vertical-align: middle;
  transition: box-shadow 150ms ease;
}

:where([role="search"], [role="group"]) > *,
:where([role="search"], [role="group"]) input:not([type="checkbox"], [type="radio"]),
:where([role="search"], [role="group"]) select {
  position: relative;
  flex: 1 1 auto;
  margin-bottom: 0;
}

:where([role="search"], [role="group"]) > :not(:first-child),
:where([role="search"], [role="group"])
  input:not([type="checkbox"], [type="radio"]):not(:first-child),
:where([role="search"], [role="group"]) select:not(:first-child) {
  margin-left: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

:where([role="search"], [role="group"]) > :not(:last-child),
:where([role="search"], [role="group"])
  input:not([type="checkbox"], [type="radio"]):not(:last-child),
:where([role="search"], [role="group"]) select:not(:last-child) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

:where([role="search"], [role="group"]) > :focus,
:where([role="search"], [role="group"]) input:not([type="checkbox"], [type="radio"]):focus,
:where([role="search"], [role="group"]) select:focus {
  z-index: 2;
}

:where([role="search"], [role="group"])
  :is(
    button,
    [type="submit"],
    [type="reset"],
    [type="button"],
    [role="button"],
    input:not([type="checkbox"], [type="radio"]),
    select
  ):not(:first-child) {
  margin-left: calc(var(--group-border-width) * -1);
}

:where([role="search"], [role="group"])
  :is(button, [type="submit"], [type="reset"], [type="button"], [role="button"]) {
  width: auto;
}

@supports selector(:has(*)) {
  :where([role="search"], [role="group"]):has(
    button:focus,
    [type="submit"]:focus,
    [type="button"]:focus,
    [role="button"]:focus
  ) {
    --group-shadow: var(--group-shadow-focus-with-button);
  }

  :where([role="search"], [role="group"]):has(
    input:not([type="submit"], [type="button"]):focus,
    select:focus
  ) {
    --group-shadow: var(--group-shadow-focus-with-input);
  }

  :where([role="search"], [role="group"]):has(
      input:not([type="submit"], [type="button"]):focus,
      select:focus
    )
    :is(button, [type="submit"], [type="button"], [role="button"]) {
    --button-shadow: 0 0 0 var(--group-border-width) var(--color-primary-border);
  }

  :where([role="search"], [role="group"])
    :is(button, [type="submit"], [type="reset"], [type="button"], [role="button"]):focus {
    box-shadow: none;
  }
}

:where([role="search"]) > :first-child {
  border-top-left-radius: var(--radius-4);
  border-bottom-left-radius: var(--radius-4);
}

:where([role="search"]) > :last-child {
  border-top-right-radius: var(--radius-4);
  border-bottom-right-radius: var(--radius-4);
}
