<meta property="og:site_name" content="{{ .Site.Title }}" />
<meta
  property="og:title"
  content="{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }}{{ end }}"
/>
<meta property="og:url" content="{{ .Permalink }}" />
<meta property="og:type" content="{{ if .IsPage }}article{{ else }}website{{ end }}" />
{{- $desc := or .Description (.Summary | plainify | truncate 200) .Site.Params.description -}} {{-
with $desc }}
<meta property="og:description" content="{{ . }}" />
{{- end -}} {{- $img := or .Params.og_image .Site.Params.og_image -}} {{- with $img }}
<meta property="og:image" content="{{ . | absURL }}" />
{{- end -}}
<meta name="twitter:card" content="summary_large_image" />
