# local cache
.cache/

# moon
.moon/cache
.moon/docker

# build
.output/
.vinxi/
build/
dist/
app.config.timestamp_*.js

# environment
.env.keys
.env*.local

# virtual environments
.venv/

# node
node_modules/

# python
__pycache__/
*.py[cod]
*$py.class
*.pyc
*.egg-info/
.eggs/
.pytest_cache/
.ruff_cache/

# OS
.DS_Store
Thumbs.db
