# cache
.cache/
.factory/

# moon
.moon/cache
.moon/docker

# environment
.env.keys
.env*.local

# build
build/
dist/
target/

# modules
node_modules/

# logs
**/**/logs/
*.log

# misc
.DS_Store
Thumbs.db
