# luna
.luna/

# pixi
.pixi/

# os
.DS_Store
Thumbs.db

# typescript / bun
.cache/
dist/
node_modules/

# python
.venv/
.ruff_cache/
.pytest_cache/
.eggs/
*.egg-info/
__pycache__/

# rust
target/
.crates.toml
.crates2.json

# builds (shared output dirs)
build/

# moon
.moon/cache
.moon/docker

# environment
.env.keys
.env*.local

# logs
**/**/logs/
*.log

# tools
.factory/
