<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<title>{{title}}</title>
	{{#if description}}<meta name="description" content="{{description}}"/>{{/if}}
	<link rel="icon" href="/favicon.svg" type="image/svg+xml"/>
	<link rel="stylesheet" href="/styles.css"/>
	{{{datastar}}}
</head>
<body{{#if layout}} data-layout="{{layout}}"{{/if}}{{#if pattern}} data-pattern="{{pattern}}"{{/if}}>
{{> header}}
{{{main}}}
{{> footer}}
</body>
</html>
