:root {
  --multiplier-xs: 1.08;
  --multiplier-sm: 1.2;
  --multiplier-md: 1.35;
  --multiplier-lg: 1.5;
  --multiplier-xl: 1.7;

  --viewport-min: 30rem;
  --viewport-max: 160rem;

  --curve-min: 0.25rem;
  --curve-max: 0.625rem;

  --stroke-min: 0.0625rem;
  --stroke-max: 0.15rem;

  --type-min: 1rem;
  --type-max: 1.25rem;
  --type-ratio: clamp(
    0,
    calc((100vw - var(--viewport-min)) / (var(--viewport-max) - var(--viewport-min))),
    1
  );
  --type-step-min: 1.25;
  --type-step-max: 1.333;
  --type-base: calc(var(--type-min) + (var(--type-max) - var(--type-min)) * var(--type-ratio));
  --type-step: calc(
    var(--type-step-min) + (var(--type-step-max) - var(--type-step-min)) * var(--type-ratio)
  );
}
