/**
 * Background utilities
 */
.bg-color {
  background-color: var(--color-bg);
}

.bg-muted {
  background-color: var(--color-muted-bg);
}

.bg-layout {
  background-color: var(--color-layout-bg);
}

.bg-panel {
  background-color: var(--color-panel-bg);
}

.bg-primary {
  background-color: var(--color-primary-bg);
}

.bg-secondary {
  background-color: var(--color-secondary-bg);
}

.bg-accent {
  background-color: var(--color-accent-bg);
}

.bg-alert {
  background-color: var(--color-alert-bg);
}

/**
 * Text utilities
 */
.text-color {
  color: var(--color-fg);
}

.text-muted {
  color: var(--color-muted-fg);
}

.text-primary {
  color: var(--color-primary-bg);
}

.text-secondary {
  color: var(--color-secondary-fg);
}

.text-accent {
  color: var(--color-accent-fg);
}

.text-alert {
  color: var(--color-alert-bg);
}

.text-xs {
  font-size: var(--text-xs);
  line-height: var(--text-xs--line-height);
  letter-spacing: var(--text-xs--letter-spacing);
  font-weight: var(--text-xs--font-weight);
}

.text-sm {
  font-size: var(--text-sm);
  line-height: var(--text-sm--line-height);
  letter-spacing: var(--text-sm--letter-spacing);
  font-weight: var(--text-sm--font-weight);
}

.text-md {
  font-size: var(--text-md);
  line-height: var(--text-md--line-height);
  letter-spacing: var(--text-md--letter-spacing);
  font-weight: var(--text-md--font-weight);
}

.text-lg {
  font-size: var(--text-lg);
  line-height: var(--text-lg--line-height);
  letter-spacing: var(--text-lg--letter-spacing);
  font-weight: var(--text-lg--font-weight);
}

.text-xl {
  font-size: var(--text-xl);
  line-height: var(--text-xl--line-height);
  letter-spacing: var(--text-xl--letter-spacing);
  font-weight: var(--text-xl--font-weight);
}

.text-2xl {
  font-size: var(--text-2xl);
  line-height: var(--text-2xl--line-height);
  letter-spacing: var(--text-2xl--letter-spacing);
  font-weight: var(--text-2xl--font-weight);
}

.text-3xl {
  font-size: var(--text-3xl);
  line-height: var(--text-3xl--line-height);
  letter-spacing: var(--text-3xl--letter-spacing);
  font-weight: var(--text-3xl--font-weight);
}
