/* Utilities */

@layer utilities {
  /* Sticky Utility */
  [data-sticky],
  .sticky {
    -webkit-backdrop-filter: var(--filter-backdrop);
    backdrop-filter: var(--filter-backdrop);
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: var(--color-bg);

    /* Show shadow after scrolling past 1px. */
    @supports (animation-timeline: scroll(root block)) {
      animation: var(--animation-dropshadow);
      animation-timeline: scroll(root block);
      animation-range: 0 1px;

      @media (prefers-reduced-motion: reduce) {
        animation: none;
        box-shadow: var(--shadow-1);
      }
    }

    @supports not (animation-timeline: scroll(root block)) {
      box-shadow: var(--shadow-1);
    }
  }
}

@utility no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}
