/* Article */

/* Article Base */
@layer base {
  article {
    --grid-cols: 12;

    @container (min-width: 90rem) {
      --grid-cols: 16;
    }

    container-type: inline-size;
    display: grid;
    grid-template-columns: repeat(var(--grid-cols), minmax(0, 1fr));
    gap: 0;
    align-content: start;
    font-family: var(--font-serif);
    text-wrap: pretty;

    &:dir(rtl) {
      align-content: end;
    }

    /* Article Typography */
    &:has(h1, h2, h3, h4, h5, h6) {
      display: inline-flex;
      align-items: center;

      &[id] {
        scroll-margin-top: var(--spacing-toolbar);
      }
    }

    &:has(h1, h2, h3, h4, h5, h6, p) > :is(a, small, span) {
      display: inline;
    }

    &:has(pre) {
      border: var(--border-width-2) solid var(--color-fg-4);
    }
  }
}

/* Article Slots */
@layer slots {
  article {
    /* Article Layout */
    & > * {
      grid-column: 1 / -1;
    }

    & > :is(header, footer, aside, section) {
      --space: var(--spacing-surface);

      display: grid;
      grid-template-columns: repeat(var(--grid-cols), minmax(0, 1fr));
      gap: var(--space);

      & > * {
        grid-column: 1 / -1;
      }
    }

    & > section {
      padding-block: var(--space);

      &:first-child {
        padding-block-start: 0;
      }

      &:last-child {
        padding-block-end: 0;
      }
    }
  }
}

/* Article Variants */
@layer variants {
  article {
    /* Article Image Media Figure */
    &:has(figure:not([data-card]), .card) {
      & > :is(img, svg, [data-image], .image) {
        border: var(--border-width-2) dotted color-mix(in oklab, var(--color-fg-4) 80%, transparent);
      }
    }
  }
}
