/**
 * Table
 */
table {
  --table-space: var(--spacing-box-1);
  --table-border: var(--color-border);
  --table-bg: var(--color-bg);
  --table-fg: var(--color-fg);
  --table-row-bg: color-mix(in oklab, var(--color-muted-bg) 70%, var(--color-bg));

  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  text-indent: 0;
}

@scope (table) {
  :scope :is(th, td) {
    padding: calc(var(--table-space) * 0.5) var(--table-space);
    border-bottom: var(--border-width-1) solid var(--table-border);
    background-color: var(--table-bg);
    color: var(--table-fg);
    font-weight: 500;
    text-align: left;
    text-align: start;
  }

  :scope tfoot :is(th, td) {
    border-top: var(--border-width-1) solid var(--table-border);
    border-bottom: 0;
  }

  :scope :is(thead, tfoot) :is(th, td) {
    font-weight: var(--font-weight-semibold);
    border-bottom-width: var(--border-width-2);
  }
}

@scope (:where(table.striped)) {
  :scope tbody tr:nth-child(odd) :is(th, td) {
    background-color: var(--table-row-bg);
  }
}

/**
 * Embedded content
 */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

iframe {
  border-style: none;
}

img {
  max-width: 100%;
  height: auto;
  border-style: none;
}

svg:not([fill]) {
  fill: currentcolor;
}

svg:not(:root),
svg:not(:host) {
  overflow: hidden;
}

/**
 * Code
 */
pre,
code,
kbd,
samp {
  --code-bg: var(--color-muted-bg);
  --code-fg: var(--color-fg);
  --code-kbd-bg: color-mix(in oklab, var(--color-fg) 10%, var(--color-bg));
  --code-kbd-fg: var(--color-fg);

  font-size: var(--text-sm);
  font-family: var(--font-mono);
}

pre {
  -ms-overflow-style: scrollbar;
  overflow: auto;
}

pre,
code,
kbd,
samp {
  border-radius: var(--radius-1);
  background-color: var(--code-bg);
  color: var(--code-fg);
  font-weight: 500;
  line-height: initial;
}

code,
kbd,
samp {
  display: inline-block;
  padding: calc(var(--spacing-box-1) * 0.375);
}

pre {
  display: block;
  margin-bottom: var(--spacing-box-2);
  overflow-x: auto;
}

@scope (pre) {
  :scope :is(code, samp) {
    font-size: inherit;
    font-family: inherit;
  }

  :scope > :is(code, samp) {
    display: block;
    padding: var(--spacing-box-2);
    background-color: transparent;
    line-height: 1.5;
  }
}

kbd {
  background-color: var(--code-kbd-bg);
  color: var(--code-kbd-fg);
  font-weight: bolder;
  vertical-align: baseline;
}

/**
 * Figure
 */
figure {
  display: block;
  margin: 0;
  padding: 0;
}

@scope (figure) {
  :scope figcaption {
    padding: calc(var(--spacing-box-2) * 0.5) 0;
    color: var(--color-muted-fg);
  }
}

/**
 * Misc
 */
hr {
  height: 0;
  margin: var(--spacing-box-3) 0;
  border: 0;
  border-top: var(--border-width-1) solid
    color-mix(in oklab, var(--color-border) 80%, var(--color-muted-fg));
  color: inherit;
}

[hidden],
template {
  display: none !important;
}

canvas {
  display: inline-block;
}

/**
 * Accordion
 */
details {
  --accordion-space: var(--spacing-box-3);
  --accordion-summary-close: var(--color-panel-fg);
  --accordion-summary-open: var(--color-panel-fg);
  --accordion-summary-active: var(--color-primary-bg);
  --accordion-summary-focus: var(--color-primary-bg);
  --accordion-ring: var(--color-primary-ring);
  --accordion-icon-size: 1em;
  --accordion-surface-bg: var(--color-panel-bg);
  --accordion-surface-border: var(--color-panel-bg);
  --accordion-icon-chevron: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M4 6l4 4 4-4'/%3E%3C/svg%3E");

  display: grid;
  gap: 0;
  border: var(--border-width-1) solid var(--accordion-surface-border);
  border-radius: var(--radius-2);
  background-color: var(--accordion-surface-bg);
  overflow: clip;
}

details[open] {
  gap: var(--accordion-space);
}

@scope (details) {
  :scope summary {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: calc(var(--accordion-space) * 0.5);
    padding: var(--accordion-space);
    border-radius: inherit;
    line-height: var(--text-lg--line-height);
    font-size: var(--text-lg);
    list-style-type: none;
    cursor: pointer;
    transition:
      color 150ms ease,
      border-color 150ms ease,
      box-shadow 150ms ease;
  }

  :scope summary:not([role]) {
    color: var(--accordion-summary-close);
  }

  :scope summary::-webkit-details-marker,
  :scope summary::marker {
    display: none;
  }

  :scope summary::-moz-list-bullet {
    list-style-type: none;
  }

  :scope summary::after {
    display: block;
    flex: 0 0 auto;
    width: var(--accordion-icon-size);
    height: var(--accordion-icon-size);
    transform: rotate(-90deg);
    background-image: var(--accordion-icon-chevron);
    background-position: right center;
    background-size: var(--accordion-icon-size) auto;
    background-repeat: no-repeat;
    content: "";
    transition: transform 150ms ease;
  }

  :scope summary:focus {
    outline: none;
  }

  :scope summary:focus:not([role]) {
    color: var(--accordion-summary-active);
  }

  :scope summary:focus-visible:not([role]) {
    outline: none;
    color: var(--accordion-summary-focus);
  }

  :scope summary[role="button"] {
    width: 100%;
    text-align: left;
  }

  :scope summary[role="button"]::after {
    height: calc(var(--accordion-icon-size) * 1.5);
    filter: brightness(0) invert(1);
  }

  :scope[open] > summary {
    border-bottom: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  :scope[open] > summary:not([role]):not(:focus) {
    color: var(--accordion-summary-open);
  }

  :scope[open] > summary::after {
    transform: rotate(0);
  }

  [dir="rtl"] :scope summary {
    text-align: right;
  }

  [dir="rtl"] :scope summary::after {
    background-position: left center;
  }

  :scope [data-content] {
    padding: 0 var(--accordion-space) var(--accordion-space);
    color: var(--color-panel-fg);
    font-size: var(--text-md);
    line-height: var(--text-md--line-height);
  }
}

/**
 * Card
 */
article {
  --card-space: var(--spacing-box-4);
  --card-radius: var(--radius-2);
  --card-bg: var(--color-panel-bg);
  --card-fg: var(--color-panel-fg);
  --card-border: var(--color-panel-border);
  --card-layout-bg: color-mix(in oklab, var(--color-muted-bg) 80%, var(--color-panel-bg));
  --card-shadow: var(--shadow-sm);

  margin-bottom: var(--spacing-box-3);
  padding: var(--card-space) var(--card-space);
  border-radius: var(--card-radius);
  background-color: var(--card-bg);
  color: var(--card-fg);
  box-shadow: var(--card-shadow);
}

@scope (article) {
  :where(:scope > :is(header, footer, section)) {
    margin-inline: calc(var(--card-space) * -1);
    padding: calc(var(--card-space) * 0.66) var(--card-space);
    background-color: var(--card-layout-bg);
  }

  :where(:scope > :is(header, footer)) {
    display: flex;
    flex-direction: row;
    gap: calc(var(--card-space) * 0.5);
  }

  :where(:scope > header) {
    justify-content: space-between;
    margin-top: calc(var(--card-space) * -1);
    border-top-right-radius: var(--card-radius);
    border-top-left-radius: var(--card-radius);
  }

  :where(:scope > footer) {
    justify-content: flex-end;
    margin-bottom: calc(var(--card-space) * -1);
    border-bottom-right-radius: var(--card-radius);
    border-bottom-left-radius: var(--card-radius);
  }
}
