/**
 * Tooltip ([data-tooltip]) - Pico-inspired, DS-native tokens
 */
@scope ([data-tooltip]) {
  :where(:scope) {
    --tooltip-bg: color-mix(in oklab, var(--color-fg) 88%, var(--color-black));
    --tooltip-fg: var(--color-white);
    --tooltip-border: color-mix(in oklab, var(--color-fg) 20%, transparent);
    --tooltip-radius: var(--radius-1);
    --tooltip-padding-y: calc(var(--spacing-1) * 0.5);
    --tooltip-padding-x: var(--spacing-1);
    --tooltip-size: var(--text-xs);
    --tooltip-offset: var(--spacing-1);
    --tooltip-caret-size: calc(var(--spacing-1) * 0.55);
    --tooltip-z: 99;
    --tooltip-slide-to: translate(-50%, calc(var(--tooltip-offset) * -1));
    --tooltip-caret-slide-to: translate(-50%, calc(var(--tooltip-offset) * -0.55));

    position: relative;
  }

  :where(:scope:not(a, button, input, [role="button"])) {
    text-decoration: none;
    cursor: help;
  }

  :where(:scope)::before,
  :where(:scope)::after {
    display: block;
    z-index: var(--tooltip-z);
    position: absolute;
    bottom: 100%;
    left: 50%;
    overflow: hidden;
    pointer-events: none;
    opacity: 0;
  }

  :where(:scope)::before {
    padding: var(--tooltip-padding-y) var(--tooltip-padding-x);
    transform: translate(-50%, calc(var(--tooltip-offset) * -1));
    border: var(--border-width-1) solid var(--tooltip-border);
    border-radius: var(--tooltip-radius);
    background-color: var(--tooltip-bg);
    color: var(--tooltip-fg);
    content: attr(data-tooltip);
    font-size: var(--tooltip-size);
    font-style: normal;
    font-weight: 600;
    line-height: 1.3;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  :where(:scope)::after {
    transform: translate(-50%, calc(var(--tooltip-offset) * -0.75));
    border-top: var(--tooltip-caret-size) solid var(--tooltip-bg);
    border-right: var(--tooltip-caret-size) solid transparent;
    border-left: var(--tooltip-caret-size) solid transparent;
    content: "";
  }

  :where(:scope[data-placement="bottom"])::before,
  :where(:scope[data-placement="bottom"])::after {
    top: 100%;
    bottom: auto;
    transform: translate(-50%, var(--tooltip-offset));
  }

  :where(:scope[data-placement="bottom"])::after {
    transform: translate(-50%, calc(var(--tooltip-caret-size) * -1));
    border: var(--tooltip-caret-size) solid transparent;
    border-bottom: var(--tooltip-caret-size) solid var(--tooltip-bg);
  }

  :where(:scope[data-placement="left"])::before,
  :where(:scope[data-placement="left"])::after {
    top: 50%;
    right: 100%;
    bottom: auto;
    left: auto;
    transform: translate(calc(var(--tooltip-offset) * -1), -50%);
  }

  :where(:scope[data-placement="left"])::after {
    transform: translate(var(--tooltip-caret-size), -50%);
    border: var(--tooltip-caret-size) solid transparent;
    border-left: var(--tooltip-caret-size) solid var(--tooltip-bg);
  }

  :where(:scope[data-placement="right"])::before,
  :where(:scope[data-placement="right"])::after {
    top: 50%;
    right: auto;
    bottom: auto;
    left: 100%;
    transform: translate(var(--tooltip-offset), -50%);
  }

  :where(:scope[data-placement="right"])::after {
    transform: translate(calc(var(--tooltip-caret-size) * -1), -50%);
    border: var(--tooltip-caret-size) solid transparent;
    border-right: var(--tooltip-caret-size) solid var(--tooltip-bg);
  }

  :where(:scope:is(:focus, :hover))::before,
  :where(:scope:is(:focus, :hover))::after {
    opacity: 1;
  }

  @media (hover: hover) and (pointer: fine) {
    :where(:scope:is(:focus, :hover))::before,
    :where(:scope:is(:focus, :hover))::after {
      transform: translate(-50%, calc(var(--tooltip-offset) * 3));
      animation-duration: 0.2s;
      animation-fill-mode: forwards;
      animation-name: tooltip-slide;
      opacity: 0;
    }

    :where(:scope:is(:focus, :hover))::after {
      transform: translate(-50%, calc(var(--tooltip-offset) * -1.25));
      animation-name: tooltip-caret-slide;
    }

    :where(:scope[data-placement="bottom"]:is(:focus, :hover))::before,
    :where(:scope[data-placement="bottom"]:is(:focus, :hover))::after {
      --tooltip-slide-to: translate(-50%, var(--tooltip-offset));
      transform: translate(-50%, calc(var(--tooltip-offset) * -3));
    }

    :where(:scope[data-placement="bottom"]:is(:focus, :hover))::after {
      --tooltip-caret-slide-to: translate(-50%, calc(var(--tooltip-caret-size) * -1));
      transform: translate(-50%, calc(var(--tooltip-caret-size) * -2));
    }

    :where(:scope[data-placement="left"]:is(:focus, :hover))::before,
    :where(:scope[data-placement="left"]:is(:focus, :hover))::after {
      --tooltip-slide-to: translate(calc(var(--tooltip-offset) * -1), -50%);
      transform: translate(calc(var(--tooltip-offset) * 3), -50%);
    }

    :where(:scope[data-placement="left"]:is(:focus, :hover))::after {
      --tooltip-caret-slide-to: translate(var(--tooltip-caret-size), -50%);
      transform: translate(calc(var(--tooltip-caret-size) * 0.2), -50%);
    }

    :where(:scope[data-placement="right"]:is(:focus, :hover))::before,
    :where(:scope[data-placement="right"]:is(:focus, :hover))::after {
      --tooltip-slide-to: translate(var(--tooltip-offset), -50%);
      transform: translate(calc(var(--tooltip-offset) * -3), -50%);
    }

    :where(:scope[data-placement="right"]:is(:focus, :hover))::after {
      --tooltip-caret-slide-to: translate(calc(var(--tooltip-caret-size) * -1), -50%);
      transform: translate(calc(var(--tooltip-caret-size) * -0.2), -50%);
    }
  }
}

@keyframes tooltip-slide {
  to {
    transform: var(--tooltip-slide-to);
    opacity: 1;
  }
}

@keyframes tooltip-caret-slide {
  50% {
    opacity: 0;
  }

  to {
    transform: var(--tooltip-caret-slide-to);
    opacity: 1;
  }
}

/**
 * Progress
 */
progress {
  --progress-bg: var(--color-muted-bg);
  --progress-fill: var(--color-primary-bg);
  --progress-radius: var(--radius-1);
  --progress-height: var(--border-width-4);
  --progress-space: var(--spacing-1);
  --progress-transition: 150ms ease;

  display: inline-block;
  vertical-align: baseline;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  height: var(--progress-height);
  margin-bottom: calc(var(--progress-space) * 0.5);
  overflow: hidden;
  border: 0;
  border-radius: var(--progress-radius);
  background-color: var(--progress-bg);
  color: var(--progress-fill);
}

progress::-webkit-progress-bar {
  border-radius: var(--progress-radius);
  background-color: transparent;
}

progress[value]::-webkit-progress-value {
  background-color: var(--progress-fill);
  transition: inline-size var(--progress-transition);
}

progress::-moz-progress-bar {
  background-color: var(--progress-fill);
}

@media (prefers-reduced-motion: no-preference) {
  progress:indeterminate {
    background: var(--progress-bg)
      linear-gradient(to right, var(--progress-fill) 30%, var(--progress-bg) 30%) top left / 150%
      150% no-repeat;
    animation: progress-indeterminate 1s linear infinite;
  }

  progress:indeterminate[value]::-webkit-progress-value {
    background-color: transparent;
  }

  progress:indeterminate::-moz-progress-bar {
    background-color: transparent;
  }

  [dir="rtl"] progress:indeterminate {
    animation-direction: reverse;
  }
}

@keyframes progress-indeterminate {
  0% {
    background-position: 200% 0;
  }

  100% {
    background-position: -200% 0;
  }
}

/**
 * Loading
 */
[aria-busy="true"]:not(input, select, textarea, html, form) {
  --loading-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round'%3E%3Cpath d='M12 3a9 9 0 1 0 9 9'/%3E%3C/svg%3E");
  white-space: nowrap;
}

[aria-busy="true"]:not(input, select, textarea, html, form)::before {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-image: var(--loading-icon);
  background-size: 1em auto;
  background-repeat: no-repeat;
  content: "";
  vertical-align: -0.125em;
  animation: loading-spin 0.9s linear infinite;
}

[aria-busy="true"]:not(input, select, textarea, html, form):not(:empty)::before {
  margin-inline-end: calc(var(--spacing-2) * 0.5);
}

[aria-busy="true"]:not(input, select, textarea, html, form):empty {
  text-align: center;
}

:where(
  button,
  [type="submit"],
  [type="button"],
  [type="reset"],
  [role="button"],
  a
)[aria-busy="true"] {
  pointer-events: none;
}

:where(
    button,
    [type="submit"],
    [type="button"],
    [type="reset"],
    [role="button"]
  )[aria-busy="true"]::before {
  filter: brightness(0) invert(1);
}

@keyframes loading-spin {
  to {
    transform: rotate(360deg);
  }
}
