/**
 * Form
 */
form {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-box-2);
}

input,
optgroup,
select,
textarea {
  margin: 0;
  font-size: var(--text-md);
  line-height: 1.5;
  font-family: inherit;
  letter-spacing: inherit;
}

input {
  overflow: visible;
}

select {
  text-transform: none;
}

legend {
  max-width: 100%;
  padding: 0;
  color: inherit;
  white-space: normal;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  padding: 0;
  border-width: var(--border-width-1);
}

[type="checkbox"][role="switch"] {
  border-width: var(--border-width-2);
}

label:has([type="checkbox"], [type="radio"]) {
  width: fit-content;
  cursor: pointer;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  appearance: textfield;
  -webkit-appearance: textfield;
  outline-offset: var(--outline-offset-1);
  border-radius: var(--radius-1);
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

:-moz-focusring {
  outline: none;
}

:-moz-ui-invalid {
  box-shadow: none;
}

::-ms-expand {
  display: none;
}

[type="file"],
[type="range"] {
  padding: 0;
  border-width: 0;
}

input:not([type="checkbox"], [type="radio"], [type="range"]) {
  height: calc(var(--text-md) * 1.5 + var(--spacing-input-0) * 2 + var(--border-width-1) * 2);
}

fieldset {
  width: 100%;
  margin: 0 0 var(--spacing-box-2);
  padding: 0;
  border: 0;
}

label,
fieldset legend {
  display: flex;
  flex-direction: column;
  gap: calc(var(--spacing-box-2) * 0.375);
  color: var(--color-fg);
  font-weight: 600;
}

fieldset legend {
  margin-bottom: calc(var(--spacing-box-2) * 0.5);
}

input:not([type="checkbox"], [type="radio"]),
button[type="submit"],
select,
textarea {
  width: 100%;
}

input:not([type="checkbox"], [type="radio"], [type="range"], [type="file"]),
select,
textarea {
  appearance: none;
  padding: var(--spacing-input-0) var(--spacing-input-1);
}

input,
select,
textarea {
  --form-bg: var(--color-input-bg);
  --form-fg: var(--color-input-fg);
  --form-border: var(--color-input-border);
  --form-valid: light-dark(var(--color-green), var(--color-dark-green-2));
  --form-invalid: var(--color-alert-bg);
  --form-shadow: none;
  --form-shadow-focus: var(--shadow-2xs), 0 0 0 2px var(--color-input-ring);
  --form-shadow-valid-focus:
    var(--shadow-2xs), 0 0 0 2px color-mix(in oklab, var(--form-valid) 30%, transparent);
  --form-shadow-invalid-focus: var(--shadow-2xs), 0 0 0 2px var(--form-invalid);

  border: var(--border-width-1) solid var(--form-border);
  border-radius: var(--radius-1);
  outline: none;
  background-color: var(--form-bg);
  box-shadow: var(--form-shadow);
  color: var(--form-fg);
  font-weight: 500;
  transition:
    background-color 150ms ease,
    border-color 150ms ease,
    color 150ms ease,
    box-shadow 150ms ease;
}

input:not(
    [type="submit"],
    [type="button"],
    [type="reset"],
    [type="checkbox"],
    [type="radio"],
    [readonly]
  ):is(:active, :focus),
:where(select, textarea):not([readonly]):is(:active, :focus) {
  --form-bg: color-mix(in oklab, var(--color-input-bg) 90%, var(--color-bg));
}

input:not([type="submit"], [type="button"], [type="reset"], [role="switch"], [readonly]):is(
    :active,
    :focus
  ),
:where(select, textarea):not([readonly]):is(:active, :focus) {
  --form-border: var(--color-primary-bg);
}

input:not(
    [type="submit"],
    [type="button"],
    [type="reset"],
    [type="range"],
    [type="file"],
    [readonly]
  ):focus,
:where(select, textarea):not([readonly]):focus {
  --form-shadow: var(--form-shadow-focus);
}

input:not([type="submit"], [type="button"], [type="reset"])[disabled],
select[disabled],
textarea[disabled],
label[aria-disabled="true"],
:where(fieldset[disabled])
  :is(input:not([type="submit"], [type="button"], [type="reset"]), select, textarea) {
  opacity: 0.6;
  pointer-events: none;
}

:where(label[aria-disabled="true"] input[disabled]) {
  opacity: 1;
}

:where(input, select, textarea):not(
    [type="checkbox"],
    [type="radio"],
    [type="date"],
    [type="datetime-local"],
    [type="month"],
    [type="time"],
    [type="week"],
    [type="range"]
  )[aria-invalid] {
  --form-icon-space: var(--spacing-icon-0);
  padding-inline-end: calc(var(--spacing-input-1) + var(--form-icon-space)) !important;
  background-position: center right var(--spacing-input-1);
  background-size: var(--text-md) auto;
  background-repeat: no-repeat;
}

:where(input, select, textarea):not(
    [type="checkbox"],
    [type="radio"],
    [type="date"],
    [type="datetime-local"],
    [type="month"],
    [type="time"],
    [type="week"],
    [type="range"]
  )[aria-invalid="false"]:not(select) {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M3 8l3 3 7-7'/%3E%3C/svg%3E");
}

:where(input, select, textarea):not(
    [type="checkbox"],
    [type="radio"],
    [type="date"],
    [type="datetime-local"],
    [type="month"],
    [type="time"],
    [type="week"],
    [type="range"]
  )[aria-invalid="true"]:not(select) {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round'%3E%3Cpath d='M8 4v5M8 12h.01'/%3E%3C/svg%3E");
}

:where(input, select, textarea)[aria-invalid="false"] {
  --form-border: var(--color-green);
}

:where(input, select, textarea)[aria-invalid="false"]:is(:active, :focus) {
  --form-border: var(--color-dark-green-2) !important;
}

:where(input, select, textarea)[aria-invalid="false"]:is(:active, :focus):not(
    [type="checkbox"],
    [type="radio"]
  ) {
  --form-shadow: var(--form-shadow-valid-focus) !important;
}

:where(input, select, textarea)[aria-invalid="true"] {
  --form-border: var(--color-alert-border);
}

:where(input, select, textarea)[aria-invalid="true"]:is(:active, :focus) {
  --form-border: var(--color-alert-bg) !important;
}

:where(input, select, textarea)[aria-invalid="true"]:is(:active, :focus):not(
    [type="checkbox"],
    [type="radio"]
  ) {
  --form-shadow: var(--form-shadow-invalid-focus) !important;
}

[dir="rtl"]
  :where(input, select, textarea):not([type="checkbox"], [type="radio"]):is(
    [aria-invalid],
    [aria-invalid="true"],
    [aria-invalid="false"]
  ) {
  background-position: center left var(--spacing-input-1);
}

input::placeholder,
input::-webkit-input-placeholder,
textarea::placeholder,
textarea::-webkit-input-placeholder,
select:invalid {
  color: color-mix(in oklab, var(--color-muted-fg) 75%, transparent);
  opacity: 1;
}

input:not([type="checkbox"], [type="radio"]),
select,
textarea {
  margin-bottom: var(--spacing-box-2);
}

select:not([multiple], [size]) {
  padding-inline-end: calc(var(--spacing-input-1) + var(--spacing-icon-0));
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M4 6l4 4 4-4'/%3E%3C/svg%3E");
  background-position: center right var(--spacing-input-1);
  background-size: 1rem auto;
  background-repeat: no-repeat;
}

select::-ms-expand {
  border: 0;
  background-color: transparent;
}

select[multiple] option:checked {
  background: color-mix(in oklab, var(--color-primary-bg) 25%, var(--color-input-bg));
  color: var(--color-input-fg);
}

[dir="rtl"] select:not([multiple], [size]) {
  background-position: center left var(--spacing-input-1);
}

textarea[aria-invalid] {
  --icon-height: calc(
    var(--text-md) * 1.5 + var(--spacing-input-0) * 2 + var(--border-width-1) * 2
  );
  background-position: top right var(--spacing-input-1) !important;
  background-size: 1rem var(--icon-height) !important;
}

/**
 * Checkboxes, Radios and Switches
 */
[type="checkbox"],
[type="radio"] {
  appearance: none;
  width: 1.25em;
  height: 1.25em;
  margin-top: -0.125em;
  margin-inline-end: 0.5em;
  vertical-align: middle;
  cursor: pointer;
}

[type="checkbox"]::-ms-check,
[type="radio"]::-ms-check {
  display: none;
}

[type="checkbox"]:checked,
[type="checkbox"]:checked:active,
[type="checkbox"]:checked:focus,
[type="radio"]:checked,
[type="radio"]:checked:active,
[type="radio"]:checked:focus {
  --form-bg: var(--color-primary-bg);
  --form-border: var(--color-primary-border);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='none' stroke='white' stroke-width='2.25' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M3 8l3 3 7-7'/%3E%3C/svg%3E");
  background-position: center;
  background-size: 0.75em auto;
  background-repeat: no-repeat;
}

[type="checkbox"] ~ label,
[type="radio"] ~ label {
  display: inline-block;
  margin-bottom: 0;
  cursor: pointer;
}

[type="checkbox"] ~ label:not(:last-of-type),
[type="radio"] ~ label:not(:last-of-type) {
  margin-inline-end: 1em;
}

[type="checkbox"]:indeterminate {
  --form-bg: var(--color-primary-bg);
  --form-border: var(--color-primary-border);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='none' stroke='white' stroke-width='2.25' stroke-linecap='round'%3E%3Cpath d='M3 8h10'/%3E%3C/svg%3E");
  background-position: center;
  background-size: 0.75em auto;
  background-repeat: no-repeat;
}

[type="radio"] {
  border-radius: 50%;
}

[type="radio"]:checked,
[type="radio"]:checked:active,
[type="radio"]:checked:focus {
  --form-bg: var(--color-fg-on-primary);
  border-width: 0.35em;
  background-image: none;
}

[type="checkbox"][role="switch"] {
  --form-bg: color-mix(in oklab, var(--color-input-border) 85%, var(--color-bg));
  --switch-thumb: var(--color-fg);
  width: 2.25em;
  height: 1.25em;
  border: var(--border-width-2) solid var(--form-border);
  border-radius: 1.25em;
  background-color: var(--form-bg);
  line-height: 1.25em;
}

[type="checkbox"][role="switch"]:not([aria-invalid]) {
  --form-border: color-mix(in oklab, var(--color-input-border) 85%, var(--color-bg));
}

[type="checkbox"][role="switch"]::before {
  display: block;
  aspect-ratio: 1;
  height: 100%;
  border-radius: 50%;
  background-color: var(--switch-thumb);
  box-shadow: var(--shadow-2xs);
  content: "";
  transition: margin 100ms ease-in-out;
}

[type="checkbox"][role="switch"]:focus {
  --form-bg: color-mix(in oklab, var(--color-input-border) 85%, var(--color-bg));
  --form-border: color-mix(in oklab, var(--color-input-border) 85%, var(--color-bg));
}

[type="checkbox"][role="switch"]:checked {
  --form-bg: var(--color-primary-bg);
  --form-border: var(--color-primary-bg);
  background-image: none;
}

[type="checkbox"][role="switch"]:checked::before {
  margin-inline-start: calc(2.25em - 1.25em);
}

[type="checkbox"][role="switch"][disabled] {
  --form-bg: var(--color-input-border);
}

[type="checkbox"][aria-invalid="false"]:checked,
[type="checkbox"][aria-invalid="false"]:checked:active,
[type="checkbox"][aria-invalid="false"]:checked:focus,
[type="checkbox"][role="switch"][aria-invalid="false"]:checked,
[type="checkbox"][role="switch"][aria-invalid="false"]:checked:active,
[type="checkbox"][role="switch"][aria-invalid="false"]:checked:focus {
  --form-bg: var(--color-green);
}

[type="checkbox"]:checked[aria-invalid="true"],
[type="checkbox"]:checked:active[aria-invalid="true"],
[type="checkbox"]:checked:focus[aria-invalid="true"],
[type="checkbox"][role="switch"]:checked[aria-invalid="true"],
[type="checkbox"][role="switch"]:checked:active[aria-invalid="true"],
[type="checkbox"][role="switch"]:checked:focus[aria-invalid="true"] {
  --form-bg: var(--color-alert-bg);
}

[type="checkbox"][aria-invalid="false"]:checked,
[type="checkbox"][aria-invalid="false"]:checked:active,
[type="checkbox"][aria-invalid="false"]:checked:focus,
[type="radio"][aria-invalid="false"]:checked,
[type="radio"][aria-invalid="false"]:checked:active,
[type="radio"][aria-invalid="false"]:checked:focus,
[type="checkbox"][role="switch"][aria-invalid="false"]:checked,
[type="checkbox"][role="switch"][aria-invalid="false"]:checked:active,
[type="checkbox"][role="switch"][aria-invalid="false"]:checked:focus {
  --form-border: var(--color-green);
}

[type="checkbox"]:checked[aria-invalid="true"],
[type="checkbox"]:checked:active[aria-invalid="true"],
[type="checkbox"]:checked:focus[aria-invalid="true"],
[type="radio"]:checked[aria-invalid="true"],
[type="radio"]:checked:active[aria-invalid="true"],
[type="radio"]:checked:focus[aria-invalid="true"],
[type="checkbox"][role="switch"]:checked[aria-invalid="true"],
[type="checkbox"][role="switch"]:checked:active[aria-invalid="true"],
[type="checkbox"][role="switch"]:checked:focus[aria-invalid="true"] {
  --form-border: var(--color-alert-bg);
}

/**
 * Input type color
 */
[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}

[type="color"]::-moz-focus-inner {
  padding: 0;
}

[type="color"]::-webkit-color-swatch {
  border: 0;
  border-radius: calc(var(--radius-1) * 0.5);
}

[type="color"]::-moz-color-swatch {
  border: 0;
  border-radius: calc(var(--radius-1) * 0.5);
}

/**
 * Input type datetime
 */
input:not([type="checkbox"], [type="radio"], [type="range"], [type="file"]):is(
    [type="date"],
    [type="datetime-local"],
    [type="month"],
    [type="time"],
    [type="week"]
  ) {
  --icon-position: var(--spacing-input-1);
  --icon-width: 1rem;
  padding-right: calc(var(--icon-width) + var(--icon-position));
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='none' stroke='currentColor' stroke-width='1.75' stroke-linecap='round' stroke-linejoin='round'%3E%3Crect x='2.5' y='3.5' width='11' height='10' rx='1.5'/%3E%3Cpath d='M5 2.5v2M11 2.5v2M2.5 6.5h11'/%3E%3C/svg%3E");
  background-position: center right var(--icon-position);
  background-size: var(--icon-width) auto;
  background-repeat: no-repeat;
}

input:not([type="checkbox"], [type="radio"], [type="range"], [type="file"])[type="time"] {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='none' stroke='currentColor' stroke-width='1.75' stroke-linecap='round' stroke-linejoin='round'%3E%3Ccircle cx='8' cy='8' r='5.5'/%3E%3Cpath d='M8 5v3l2 1.5'/%3E%3C/svg%3E");
}

[type="date"]::-webkit-calendar-picker-indicator,
[type="datetime-local"]::-webkit-calendar-picker-indicator,
[type="month"]::-webkit-calendar-picker-indicator,
[type="time"]::-webkit-calendar-picker-indicator,
[type="week"]::-webkit-calendar-picker-indicator {
  width: var(--icon-width);
  margin-right: calc(var(--icon-width) * -1);
  margin-left: var(--icon-position);
  opacity: 0;
}

@-moz-document url-prefix() {
  [type="date"],
  [type="datetime-local"],
  [type="month"],
  [type="time"],
  [type="week"] {
    padding-right: var(--spacing-input-1) !important;
    background-image: none !important;
  }
}

[dir="rtl"]
  :is([type="date"], [type="datetime-local"], [type="month"], [type="time"], [type="week"]) {
  text-align: right;
}

/**
 * Input type file
 */
[type="file"] {
  --form-fg: var(--color-muted-fg);
  margin-left: calc(var(--outline-width-1) * -1);
  padding: calc(var(--spacing-input-0) * 0.5) 0;
  padding-left: var(--outline-width-1);
  border: 0;
  border-radius: 0;
  background: none;
}

[type="file"]::file-selector-button {
  margin-right: calc(var(--spacing-box-2) / 2);
  padding: calc(var(--spacing-input-0) * 0.5) var(--spacing-input-1);
}

[type="file"]:is(:hover, :active, :focus)::file-selector-button {
  background-color: color-mix(in oklab, var(--color-primary-bg) 15%, var(--color-input-bg));
}

[type="file"]:focus::file-selector-button {
  box-shadow:
    var(--shadow-2xs),
    0 0 0 var(--outline-width-1) var(--color-primary-ring);
}

/**
 * Input type range
 */
[type="range"] {
  appearance: none;
  width: 100%;
  height: var(--border-width-4);
  background: 0 0;
  background-color: var(--color-input-border);
}

[type="range"]::-webkit-slider-runnable-track,
[type="range"]::-moz-range-track,
[type="range"]::-ms-track {
  width: 100%;
  height: 0.375rem;
  border-radius: var(--border-width-4);
  background-color: var(--color-input-border);
  transition:
    background-color 150ms ease,
    box-shadow 150ms ease;
}

[type="range"]::-webkit-slider-thumb,
[type="range"]::-moz-range-thumb,
[type="range"]::-ms-thumb {
  appearance: none;
  width: 1.25rem;
  height: 1.25rem;
  margin-top: -0.4375rem;
  border: 2px solid var(--color-input-ring);
  border-radius: 50%;
  background-color: var(--color-input-ring);
  cursor: pointer;
  transition:
    background-color 150ms ease,
    transform 150ms ease;
}

[type="range"]:active,
[type="range"]:focus-within {
  --range-track: color-mix(in oklab, var(--color-input-border) 80%, var(--color-input-border));
  --range-thumb: color-mix(in oklab, var(--color-input-ring) 80%, var(--color-input-ring));
}

[type="range"]:active::-webkit-slider-runnable-track,
[type="range"]:focus-within::-webkit-slider-runnable-track,
[type="range"]:active::-moz-range-track,
[type="range"]:focus-within::-moz-range-track,
[type="range"]:active::-ms-track,
[type="range"]:focus-within::-ms-track {
  background-color: var(--range-track);
}

[type="range"]:active::-webkit-slider-thumb,
[type="range"]:focus-within::-webkit-slider-thumb,
[type="range"]:active::-moz-range-thumb,
[type="range"]:focus-within::-moz-range-thumb,
[type="range"]:active::-ms-thumb,
[type="range"]:focus-within::-ms-thumb {
  background-color: var(--range-thumb);
}

[type="range"]:active::-webkit-slider-thumb,
[type="range"]:active::-moz-range-thumb,
[type="range"]:active::-ms-thumb {
  transform: scale(1.25);
}

/**
 * Input type search
 */
input:not([type="checkbox"], [type="radio"], [type="range"], [type="file"])[type="search"] {
  padding-inline-start: calc(var(--spacing-input-1) + 1.75rem);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='none' stroke='currentColor' stroke-width='1.75' stroke-linecap='round' stroke-linejoin='round'%3E%3Ccircle cx='7' cy='7' r='4.5'/%3E%3Cpath d='M10.5 10.5 14 14'/%3E%3C/svg%3E");
  background-position: center left calc(var(--spacing-input-1) + 0.125rem);
  background-size: 1rem auto;
  background-repeat: no-repeat;
}

input:not(
    [type="checkbox"],
    [type="radio"],
    [type="range"],
    [type="file"]
  )[type="search"][aria-invalid] {
  padding-inline-start: calc(var(--spacing-input-1) + 1.75rem) !important;
  background-position:
    center left 1.125rem,
    center right var(--spacing-input-1);
}

input:not(
    [type="checkbox"],
    [type="radio"],
    [type="range"],
    [type="file"]
  )[type="search"][aria-invalid="false"] {
  background-image:
    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='none' stroke='currentColor' stroke-width='1.75' stroke-linecap='round' stroke-linejoin='round'%3E%3Ccircle cx='7' cy='7' r='4.5'/%3E%3Cpath d='M10.5 10.5 14 14'/%3E%3C/svg%3E"),
    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M3 8l3 3 7-7'/%3E%3C/svg%3E");
}

input:not(
    [type="checkbox"],
    [type="radio"],
    [type="range"],
    [type="file"]
  )[type="search"][aria-invalid="true"] {
  background-image:
    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='none' stroke='currentColor' stroke-width='1.75' stroke-linecap='round' stroke-linejoin='round'%3E%3Ccircle cx='7' cy='7' r='4.5'/%3E%3Cpath d='M10.5 10.5 14 14'/%3E%3C/svg%3E"),
    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round'%3E%3Cpath d='M8 4v5M8 12h.01'/%3E%3C/svg%3E");
}

[dir="rtl"]
  :where(input):not(
    [type="checkbox"],
    [type="radio"],
    [type="range"],
    [type="file"]
  )[type="search"] {
  background-position: center right 1.125rem;
}

[dir="rtl"]
  :where(input):not(
    [type="checkbox"],
    [type="radio"],
    [type="range"],
    [type="file"]
  )[type="search"][aria-invalid] {
  background-position:
    center right 1.125rem,
    center left var(--spacing-input-1);
}

/**
 * Search/Input Group
 */
@scope ([role="search"]) {
  :where(:scope) {
    --group-space: var(--spacing-box-2);
    --group-radius: var(--radius-1);
    --group-border-width: var(--border-width-1);
    --group-shadow: 0 0 0 transparent;
    --group-shadow-focus-with-button: var(--shadow-2xs), 0 0 0 2px var(--color-primary-ring);
    --group-shadow-focus-with-input: var(--shadow-2xs), 0 0 0 2px var(--color-primary-ring);
    --group-button-shadow-focus: var(--shadow-2xs), 0 0 0 1px var(--color-primary-border);

    display: inline-flex;
    position: relative;
    width: 100%;
    margin-bottom: var(--group-space);
    border-radius: var(--group-radius);
    box-shadow: var(--group-shadow);
    vertical-align: middle;
    transition: box-shadow 150ms ease;
  }

  :where(:scope > *, :scope input:not([type="checkbox"], [type="radio"]), :scope select) {
    position: relative;
    flex: 1 1 auto;
    margin-bottom: 0;
  }

  :where(
    :scope > :not(:first-child),
    :scope input:not([type="checkbox"], [type="radio"]):not(:first-child),
    :scope select:not(:first-child)
  ) {
    margin-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  :where(
    :scope > :not(:last-child),
    :scope input:not([type="checkbox"], [type="radio"]):not(:last-child),
    :scope select:not(:last-child)
  ) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  :where(
    :scope > :focus,
    :scope input:not([type="checkbox"], [type="radio"]):focus,
    :scope select:focus
  ) {
    z-index: 2;
  }

  :where(
    :scope
      :is(
        button,
        [type="submit"],
        [type="reset"],
        [type="button"],
        [role="button"],
        input:not([type="checkbox"], [type="radio"]),
        select
      ):not(:first-child)
  ) {
    margin-left: calc(var(--group-border-width) * -1);
  }

  :where(:scope :is(button, [type="submit"], [type="reset"], [type="button"], [role="button"])) {
    width: auto;
    padding-inline: var(--spacing-input-2);
  }

  @supports selector(:has(*)) {
    :where(
      :scope:has(button:focus, [type="submit"]:focus, [type="button"]:focus, [role="button"]:focus)
    ) {
      --group-shadow: var(--group-shadow-focus-with-button);
    }

    :where(:scope:has(input:not([type="submit"], [type="button"]):focus, select:focus)) {
      --group-shadow: var(--group-shadow-focus-with-input);
    }

    :where(
      :scope:has(input:not([type="submit"], [type="button"]):focus, select:focus)
        :is(button, [type="submit"], [type="button"], [role="button"])
    ) {
      --button-shadow: var(--group-button-shadow-focus);
    }

    :where(
      :scope :is(button, [type="submit"], [type="reset"], [type="button"], [role="button"]):focus
    ) {
      box-shadow: none;
    }
  }

  :where(:scope > :first-child) {
    border-top-left-radius: var(--radius-4);
    border-bottom-left-radius: var(--radius-4);
  }

  :where(:scope > :last-child) {
    border-top-right-radius: var(--radius-4);
    border-bottom-right-radius: var(--radius-4);
  }
}

textarea {
  display: block;
  resize: vertical;
}

:where(input, select, textarea, fieldset) + small {
  display: block;
  width: 100%;
  margin-top: calc(var(--spacing-box-2) * -0.75);
  margin-bottom: var(--spacing-box-2);
  color: var(--color-muted-fg);
}

:where(input, select, textarea, fieldset)[aria-invalid="false"] + small {
  color: var(--color-green);
}

:where(input, select, textarea, fieldset)[aria-invalid="true"] + small {
  color: var(--color-alert-bg);
}
