/* Nav */

@scope (:is(nav, [role="navigation"])) {
  /* Nav Base */
  @layer base {
    :scope {
      display: flex;
      align-items: center;
      gap: var(--spacing-tap);

      & > :is(div, ul, ol) {
        display: flex;
        align-items: center;
        gap: var(--spacing-tap);
      }

      & > :is(ul, ol) {
        padding: 0;
        list-style: none;
      }

      & :is(a:not([role="button"]), [role="link"]) {
        text-decoration: none;

        &:is(:hover, :focus, :focus-visible, [aria-current]):not([aria-current="false"]),
        &:is([data-active]):not([data-active="false"]) {
          text-decoration: underline;
        }
      }
    }
  }
}
