/**
 * Link
 */
a:not([role="button"]),
[role="link"] {
  --link-color: var(--color-primary-bg);
  --link-hover: var(--color-primary-border);
  --link-underline: color-mix(in oklab, var(--link-color) 45%, transparent);
  --link-hover-underline: color-mix(in oklab, var(--link-hover) 65%, transparent);
  --link-ring: var(--color-primary-ring);
  --link-shadow-focus: 0 0 0 2px var(--link-ring);
  --link-text-decoration: none;

  outline: none;
  background-color: transparent;
  color: var(--link-color);
  text-decoration: var(--link-text-decoration);
  text-decoration-color: var(--link-underline);
  text-underline-offset: 0.125em;
  transition:
    background-color 150ms ease,
    color 150ms ease,
    text-decoration 150ms ease,
    box-shadow 150ms ease;
}

a:not([role="button"]):is([aria-current]:not([aria-current="false"]), :hover, :active, :focus),
[role="link"]:is([aria-current]:not([aria-current="false"]), :hover, :active, :focus) {
  --link-color: var(--link-hover);
  --link-underline: var(--link-hover-underline);
  --link-text-decoration: underline;
}

a:not([role="button"]):focus-visible,
[role="link"]:focus-visible {
  box-shadow: var(--shadow-2xs), var(--link-shadow-focus);
}

a[role="button"] {
  display: inline-block;
}

/* Link colors */
:where(a:not([role="button"]), [role="link"]).link-primary {
  --link-color: var(--color-primary-bg);
  --link-hover: var(--color-primary-border);
  --link-ring: var(--color-primary-ring);
}

:where(a:not([role="button"]), [role="link"]).link-secondary {
  --link-color: var(--color-secondary-fg);
  --link-hover: color-mix(in oklab, var(--color-secondary-fg) 80%, var(--color-fg));
  --link-ring: var(--color-secondary-ring);
}

:where(a:not([role="button"]), [role="link"]).link-accent {
  --link-color: var(--color-accent-fg);
  --link-hover: color-mix(in oklab, var(--color-accent-fg) 80%, var(--color-fg));
  --link-ring: var(--color-accent-ring);
}

:where(a:not([role="button"]), [role="link"]).link-alert {
  --link-color: var(--color-alert-bg);
  --link-hover: var(--color-alert-border);
  --link-ring: var(--color-alert-ring);
}

:where(a:not([role="button"]), [role="link"]).link-muted {
  --link-color: var(--color-muted-fg);
  --link-hover: color-mix(in oklab, var(--color-muted-fg) 80%, var(--color-fg));
  --link-ring: var(--color-muted-ring);
}

/**
 * Nav
 */
nav,
[role="navigation"] {
  --nav-element-space-y: var(--spacing-1);
  --nav-element-space-x: var(--spacing-1);
  --nav-link-space-y: var(--spacing-1);
  --nav-link-space-x: var(--spacing-1);
  --nav-breadcrumb-divider: "/";
}

@scope (nav) {
  :where(:scope li)::before {
    float: left;
    content: "\200B";
  }

  :where(:scope, :scope ul) {
    display: flex;
  }

  :where(:scope) {
    align-items: center;
    justify-content: space-between;
    overflow: visible;
  }

  :where(:scope ol, :scope ul) {
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  :where(:scope ol:first-of-type, :scope ul:first-of-type) {
    margin-left: calc(var(--nav-element-space-x) * -1);
  }

  :where(:scope ol:last-of-type, :scope ul:last-of-type) {
    margin-right: calc(var(--nav-element-space-x) * -1);
  }

  :where(:scope li) {
    display: inline-block;
    margin: 0;
    padding: var(--nav-element-space-y) var(--nav-element-space-x);
  }

  :where(:scope li :where(a, [role="link"])) {
    display: inline-block;
    margin: calc(var(--nav-link-space-y) * -1) calc(var(--nav-link-space-x) * -1);
    padding: var(--nav-link-space-y) var(--nav-link-space-x);
    border-radius: var(--radius-1);
  }

  :where(:scope li :where(a, [role="link"]):not(:hover)) {
    text-decoration: none;
  }

  :where(
    :scope
      li
      :is(button, [role="button"], [type="button"], [type="submit"], [type="reset"], select),
    :scope li input:not([type="checkbox"], [type="radio"], [type="range"], [type="file"])
  ) {
    height: auto;
    margin-right: inherit;
    margin-bottom: 0;
    margin-left: inherit;
    padding: calc(var(--nav-link-space-y) - var(--border-width-1) * 2) var(--nav-link-space-x);
  }
}

@scope (nav[aria-label="breadcrumb"]) {
  :where(:scope) {
    align-items: center;
    justify-content: start;
  }

  :where(:scope ul li:not(:first-child)) {
    margin-inline-start: var(--nav-link-space-x);
  }

  :where(:scope ul li a) {
    margin: calc(var(--nav-link-space-y) * -1) 0;
    margin-inline-start: calc(var(--nav-link-space-x) * -1);
  }

  :where(:scope ul li:not(:last-child)::after) {
    display: inline-block;
    position: absolute;
    width: calc(var(--nav-link-space-x) * 4);
    margin: 0 calc(var(--nav-link-space-x) * -1);
    content: var(--nav-breadcrumb-divider);
    color: var(--color-muted-fg);
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
  }

  :where(:scope a[aria-current]:not([aria-current="false"])) {
    background-color: transparent;
    color: inherit;
    text-decoration: none;
    pointer-events: none;
  }

  :where([dir="rtl"] :scope ul li:not(:last-child)::after) {
    content: "\\";
  }
}

@scope (aside nav) {
  :where(:scope, :scope ol, :scope ul, :scope li) {
    display: block;
  }

  :where(:scope li) {
    padding: calc(var(--nav-element-space-y) * 0.5) var(--nav-element-space-x);
  }

  :where(:scope li a) {
    display: block;
  }

  :where(:scope li [role="button"]) {
    margin: inherit;
  }
}

/* Nav utilities */
:where(nav.nav-compact, [role="navigation"].nav-compact) {
  --nav-element-space-y: calc(var(--spacing-1) * 0.5);
  --nav-element-space-x: var(--spacing-1);
  --nav-link-space-y: calc(var(--spacing-1) * 0.5);
  --nav-link-space-x: var(--spacing-1);
}

:where(nav.nav-loose, [role="navigation"].nav-loose) {
  --nav-element-space-y: var(--spacing-2);
  --nav-element-space-x: var(--spacing-2);
  --nav-link-space-y: var(--spacing-1);
  --nav-link-space-x: var(--spacing-2);
}
