/* Table */

/* Table Base */
@layer base {
  table {
    display: block;
    width: max-content;
    min-width: 100%;
    max-width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    overscroll-behavior-x: contain;
    border-collapse: collapse;
    border-spacing: 0;
    text-indent: 0;

    &:has(th, td) {
      padding: var(--spacing-6-12) var(--spacing-8-16);
      border-style: dashed;
      border-color: var(--color-fg-4);
      border-left-width: var(--border-width-1);
      background-color: var(--color-bg-1);
      color: var(--color-fg-1);
      font-size: var(--text-sm);
      line-height: var(--text-sm--line-height);
      letter-spacing: var(--text-sm--letter-spacing);
      font-weight: var(--font-weight-medium);
      text-align: start;

      &:first-child {
        border-left: 0;
      }
    }
  }
}

/* Table Slots */
@layer slots {
  table {
    &:has(tbody > tr, thead, tfoot) {
      border-style: solid;
      border-color: var(--color-fg-4);
    }

    &:has(tbody > tr) {
      border-style: dashed;
      border-bottom-width: var(--border-width-1);

      &:last-child {
        border-bottom: 0;
      }
    }

    &:has(thead, tfoot):has(th, td) {
      font-family: var(--font-sans);
      font-weight: var(--font-weight-bold);
    }

    &:has(thead) {
      border-bottom-width: var(--border-width-3);
    }

    &:has(tfoot) {
      border-top-width: var(--border-width-3);
    }
  }
}

/* Table Modifiers */
@layer modifiers {
  table:is([data-striped], .striped) {
    &:has(tbody > tr:nth-child(odd)):has(th, td) {
      background-color: var(--color-bg-2);
    }
  }
}
