/* Brand */

@scope (:is([data-brand], .brand)) {
  /* Brand Base */
  @layer base {
    :scope {
      display: inline-flex;
      align-items: center;
      min-width: 0;
      gap: var(--spacing-4-6);
      margin: 0;
      color: var(--color-fg);
      font-size: var(--text-sm);
      font-weight: var(--font-weight-medium);
      letter-spacing: var(--text-sm--letter-spacing);
      text-transform: uppercase;
      white-space: nowrap;
      outline: none;

      &:is(a:not([role="button"]), [role="link"]) {
        text-decoration: none;

        &:is(:hover, :focus, :active, :focus-visible) {
          text-decoration: none;
        }
      }

      /* Brand Images */
      & :is(img, svg, figure, [role="figure"]) {
        width: var(--spacing-24-32);
        height: var(--spacing-24-32);
        flex-shrink: 0;
      }
    }
  }
}
