/* Breadcrumbs */
@layer base, slots, variants, modifiers, patterns;

/* Breadcrumbs Base */
@layer base {
  [data-breadcrumbs],
  .breadcrumbs {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    width: 100%;
    min-width: 0;
    overflow: hidden;
    gap: var(--spacing-4-6);
    color: var(--color-fg);
    font-size: var(--text-sm);
    font-weight: var(--font-weight-medium);
    letter-spacing: var(--text-sm--letter-spacing);
    text-transform: uppercase;
  }
}

/* Breadcrumbs Slots */
@layer slots {
  [data-breadcrumbs],
  .breadcrumbs {
    /* Breadcrumb List Items */
    & > li {
      display: inline-flex;
      align-items: center;
      min-width: 0;
      gap: var(--spacing-4-6);
      margin: 0;

      & + li::before {
        -webkit-mask-image: var(--icon-chevron);
        -webkit-mask-position: center;
        -webkit-mask-size: contain;
        -webkit-mask-repeat: no-repeat;
        mask-image: var(--icon-chevron);
        mask-position: center;
        mask-size: contain;
        mask-repeat: no-repeat;
        display: inline-block;
        width: 1em;
        height: 1em;
        flex-shrink: 0;
        transform: rotate(-90deg);
        background-color: currentColor;
        content: "";
      }

      &[aria-current="page"] {
        flex: 1;
        min-width: 0;
        color: color-mix(in oklab, var(--color-fg-3) 75%, transparent);

        & a {
          color: inherit;
        }
      }
    }

    /* All List Item Links */
    &:has(li a) {
      white-space: nowrap;
      text-decoration: none;
      outline: none;
    }
  }
}

/* Breadcrumbs Modifiers */
@layer modifiers {
  :is([data-breadcrumbs], .breadcrumbs):has([data-logo], .logo) {
    --size: var(--spacing-24-32);
  }
}
