/* Card */

/* Card Base */
@layer base {
  [data-card],
  [data-surface="card"],
  .card {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: end;
    gap: var(--spacing-surface);
    padding: var(--spacing-surface);
    box-shadow: var(--shadow-4);
    border-style: solid;
    border-width: var(--border-width-2);
    border-color: var(--color-bg-4);
    background-color: var(--color-bg-2);
    color: var(--color-fg);
    font-family: var(--font-sans);
  }
}

/* Card Slots */
@layer slots {
  [data-card],
  [data-surface="card"],
  .card {
    &:has(p, small) {
      color: var(--color-fg-3);
    }
  }
}

/* Card Variants */
@layer variants {
  [data-card],
  [data-surface="card"],
  .card {
    /* Card form variant */
    &:is(form) {
      gap: var(--spacing-16-32);
      justify-content: stretch;

      & > footer {
        position: sticky;
        bottom: calc(-1 * var(--spacing-surface));
        margin: calc(-1 * var(--spacing-surface));
        padding: var(--spacing-surface);
        background-color: var(--color-bg-2);
      }
    }

    /* Card action variant */
    &:is(a, button, [role="button"]) {
      text-decoration: none;
      transition: var(--transition-action);

      &:hover,
      &:focus,
      &:active,
      &:focus-visible {
        border-color: var(--color-accent);
        background-color: color-mix(in oklab, var(--color-accent) 2%, transparent);
        box-shadow: var(--shadow-3);
        text-decoration: none;
      }

      &:focus,
      &:active {
        box-shadow: var(--shadow-2);
      }

      &:focus-visible {
        box-shadow: none;
        outline-style: solid;
        outline-width: var(--border-width-1);
        outline-color: color-mix(in oklab, var(--color-accent) 60%, transparent);
        outline-offset: var(--border-width-2);
      }
    }
  }
}

/* Card Patterns */
@layer patterns {
  [data-card],
  [data-surface="card"],
  .card {
    /* Card list pattern */
    [data-list],
    [data-block="list"],
    .list & {
      flex-flow: row nowrap;
      align-items: center;
      justify-content: space-between;

      /* Card list pattern slots */
      &:has(hgroup) {
        gap: var(--spacing-8-16);
      }

      /* Card list pattern icon reveal */
      &:is(a, button, [role="button"]) {
        &:has(i, svg, [data-icon], [data-media="icon"], [class*="icon-"], .icon) {
          opacity: 0;
          pointer-events: none;
          transform: translateX(-0.35em);
          transition: var(--transition-action), var(--transition-transform);

          :is(:hover, :focus, :active, :focus-visible) & {
            opacity: 1;
            pointer-events: auto;
            transform: translateX(0);
          }
        }
      }
    }
  }
}
