<!DOCTYPE html>
<html lang="{{ site.Language.Locale | default `en` }}">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {{- partial "head/metadata.html" . -}}
    {{- with (templates.Defer (dict "key" "global")) }}
      {{- partial "head/css.html" . -}}
    {{- end }}
  </head>
  <body
    {{- with .Params.layout }} data-layout="{{ . }}"{{ end -}}
    {{- with .Params.pattern }} data-pattern="{{ . }}"{{ end -}}
  >
    {{- block "main" . }}{{ end -}}
    {{- partial "layout/footer.html" . -}}
  </body>
</html>
