{{ define "main" }}
{{- partial "header.html" . -}}
<dialog id="side-panel" popover="auto" data-panel data-side="end">
  <aside aria-label="Navigation">
    {{- partial "article-collection.html" . -}}
    {{- $toc := partial "toc-visibility.html" . -}}
    {{- if $toc.show -}}
    <section data-mobile-section="toc">
      <h3>On this page</h3>
      {{- partial "article-toc.html" . -}}
    </section>
    {{- end -}}
  </aside>
</dialog>
<main>
  {{- partial "article-header.html" . -}}
  {{- partial "article.html" (dict "page" . "footer" true) -}}
  {{- $toc := partial "toc-visibility.html" . -}}
  {{- if $toc.show -}}
  <aside aria-label="In this article" data-sidebar="toc" data-sticky>
    {{- partial "article-toc.html" . -}}
  </aside>
  {{- end -}}
</main>
{{ end }}
