{{ define "main" }}
{{- partial "header.html" . -}}
<main>
  {{- partial "article-header.html" . -}}
  {{- partial "article.html" . -}}
  {{- $toc := partial "toc-visibility.html" . -}}
  {{- if $toc.show -}}
  <dialog id="side-panel" popover="auto" data-panel data-side="end">
    <aside aria-label="In this article" data-sticky>
      <header>
        <hgroup><h2>On this page</h2></hgroup>
        <button type="button" data-button="icon" popovertarget="side-panel" popovertargetaction="hide" aria-label="Close">
          <i data-icon="close" aria-hidden="true"></i>
        </button>
      </header>
      {{- partial "article-toc.html" . -}}
    </aside>
  </dialog>
  {{- end -}}
</main>
{{ end }}
